@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null;
}

<form action="/Home/Sum" method="post">
    <input type="number" name="num" />
    <input type="number" name="num2"/>
    <input type="submit" value="ok" />
</form>
